#app {
  width: 92%;
  margin: 0 auto;
  max-width: 1000px;
}

.sectionCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}

/* Default Button Styling */
.buttonStyle {
  color: white;
  text-decoration: none;
}

.buttonStyle:hover {
  color: white;
  text-decoration: none;
}